/* reset codes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* google fonts */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* applicable fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", serif;
}
p,
a {
  font-family: "Raleway", serif;
}
body {
  font-family: "Roboto", serif;
}
.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
}

.raleway {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
}
/* declear variables */
:root {
  --primary-color: orange;
  --primary-color-hover: rgba(255, 166, 0, 0.79);
  --secondary-color: blue;
  --text-color-1: #ffffff;
}
/* common styles */
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
.btn {
  min-width: 197px;
  max-height: 50px;
  padding: 10px 10px;
  border: none;
  border-radius: 12px;
  background-color: var(--text-color-1);
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--text-color-1);
}
.btn-primary:hover {
  background-color: var(--primary-color-hover);
  color: var(--text-color-1);
}
.btn-black {
  background-color: black;
  color: var(--text-color-1);
}
.btn-black:hover {
  background-color: rgba(0, 0, 0, 0.798);
  color: var(--text-color-1);
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}
.section-title {
  text-align: center;
  margin: 60px 0px;
  font-size: 46px;
  font-weight: bold;
}
/* header styles */
/* .header {
  max-width: 1440px;
  height: 102px;
} */
.logo-text-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav {
  max-width: 1160px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0rem 2rem;
  margin-top: 0.5rem;
}
.nav-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 186px;
}

nav div ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.primary-color {
  color: var(--primary-color);
}
.secondary-color {
  color: #01acfd;
}
.violet-color {
  color: #8700ff;
}

.li3 {
  color: #05d4df;
}
.li4 {
  color: #5d58ef;
}

.show-bars {
  display: none;
}

/* hero */

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 4rem; */
}

.hero-content {
  max-width: 640px;
  height: 311px;
  margin: 0 122px;
}
.hero-content h1 {
  font-family: "Quicksand", serif;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 61px;
}

.hero-content p {
  margin: 1rem 0;
}
/* cars section*/
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
}
.card {
  max-width: 367px;
  height: 476px;
  text-align: center;
  border-radius: 1.2rem;
  box-shadow: 1rem;
}
.card-1-liner {
  background: linear-gradient(#def5ff, white);
}
.card-2-liner {
  background: linear-gradient(#fff4dc, white);
}
.card-3-liner {
  background: linear-gradient(#f2e8ff, white);
}
.card img {
  max-width: 136px;
  margin: 52px 115px 0 115px;
}
.card h3 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #202020;
}
.card h6 {
  font-size: 1rem;
  color: #808080;
  margin: 2rem 0;
}
.cards-sec-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.cards-sec-icon i {
  background-color: var(--primary-color);
  height: 60px;
  width: 60px;
  color: white;
  border-radius: 50%;
}
/* our stories */

.stories {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.stories > div {
  width: 50%;
}
.grid-stories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.s-card-1 {
  max-width: 540px;
  height: 630px;
  border-radius: 1rem;
  position: relative;
  border-radius: 2rem;
  background-color: white;
}
.s-card-1 img {
  width: 100%;
}
.s-card-1 button {
  position: absolute;
  margin: -20px 40px;
}
.s-card-1 h4 {
  font-size: 24px;
  font-weight: bold;
  width: 402px;
}
.s-cars-desc {
  margin-top: 20px;
  padding: 2rem;
}
.s-card-g {
  max-width: 290px;
  border-radius: 1rem;
  position: relative;
  border-radius: 2rem;
  background-color: white;
}
.s-card-g img {
  width: 100%;
}
.s-card-g button {
  position: absolute;
  margin: -20px 40px;
}
.s-card-g h4 {
  font-size: 24px;
  font-weight: bold;
  width: 402px;
}
.s-cars-desc-g {
  margin-top: 20px;
  padding: 2rem;
}
section {
  background-color: beige;
}
.hidden{
  display: none;
}
/* small devices */
@media screen and (max-width: 567px) {
  .sm-hidden {
    display: none;
  }
  .show-bars {
    display: block;
    font-size: 2rem;
  }
  .hero {
    flex-direction: column-reverse;
    text-align: center;
  }
  .section-title {
    margin-top: 8rem;
  }
  .cards {
    flex-direction: column;
    padding: 2rem;
  }
  .card {
    margin: 1rem;
  }
  .hidden{
    display: block;
  }
}
